{% extends 'base.html.twig' %}

{% block title %}New TicketConversation{% endblock %}
{% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <style>
        .select-tags {
            display: block;
            width : 50%;
        }
        </style>

{% endblock %}

{% block body %}
    <h1>Create new TicketConversation</h1>

    {{ include('ticket_conversation/_form.html.twig') }}

    <a href="{{ path('app_ticket_conversation_index') }}">back to list</a>
{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(function(){
     $('.select-tags').select2();
    })
</script>
        {% endblock %}